In [83]:
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans

In [84]:
data = pd.read_excel('data2.xlsx', 'data')
data_df = pd.DataFrame(data)

data_df.head()

   74   85   123
0  118  126   85
1  169  189  230
2   46  102   81
3   52   56   21
4  198  195  167

In [85]:
sinif = pd.read_excel('data2.xlsx', 'sınıf')
sinif_df = pd.DataFrame(sinif)

sinif_df.head()

   1
0  2
1  1
2  2
3  2
4  2

In [86]:
data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51255 entries, 0 to 51254
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   74      51255 non-null  int64
 1   85      51255 non-null  int64
 2   123     51255 non-null  int64
dtypes: int64(3)
memory usage: 1.2 MB

In [87]:
sinif_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51255 entries, 0 to 51254
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   1       51255 non-null  int64
dtypes: int64(1)
memory usage: 400.6 KB

In [88]:
data_df.describe()

                74            85            123
count  51255.000000  51255.000000  51255.000000
mean     108.984392    121.655390    137.310136
std       62.188405     58.383473     76.963702
min        0.000000      0.000000      0.000000
25%       57.000000     79.000000     71.000000
50%      107.000000    126.000000    141.000000
75%      153.000000    167.000000    210.000000
max      255.000000    255.000000    255.000000

In [89]:
sinif_df.describe()

                  1
count  51255.000000
mean       1.714116
std        0.451839
min        1.000000
25%        1.000000
50%        2.000000
75%        2.000000
max        2.000000

In [90]:
kmeans = KMeans(n_clusters=2, random_state=42)

y_pred = kmeans.fit_predict(data_df)

/home/esti002/miniconda3/envs/mlenv/lib/python3.11/site-packages/sklearn/cluster/_kmeans.py:1416: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  super()._check_params_vs_input(X, default_n_init=10)

In [91]:
cluster_centers = kmeans.cluster_centers_
print("Küme Merkezleri:", cluster_centers)

labels = kmeans.labels_

print("Veri Noktalarının Kümeye Aidiyeti:", labels)

Küme Merkezleri: [[142.0246123  156.86288424 187.65054694]
 [ 66.31144096  76.18330576  72.2931998 ]]
Veri Noktalarının Kümeye Aidiyeti: [1 0 1 ... 0 0 1]

In [92]:
labels = [1 if label == 0 else 2 for label in y_pred]

In [93]:
from sklearn.metrics import accuracy_score

accuracy = accuracy_score(sinif_df, labels)
print("Başarı Oranı (Accuracy):", accuracy)

Başarı Oranı (Accuracy): 0.5991805677494878