In [56]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score
from sklearn.metrics import mean_squared_error

In [57]:
data = pd.read_csv('data3.csv', sep=';')
df = pd.DataFrame(data=data)

df.head()

  Latitude Longitude  Depth Magnitude
0   19,246   145,616  131,6         6
1    1,863   127,352     80       5,8
2  -20,579  -173,972     20       6,2
3  -59,076   -23,557     15       5,8
4   11,938   126,427     15       5,8

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23232 entries, 0 to 23231
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   23232 non-null  object
 1   Longitude  23232 non-null  object
 2   Depth      23232 non-null  object
 3   Magnitude  23232 non-null  object
dtypes: object(4)
memory usage: 726.1+ KB

In [59]:
obj_cols = df.select_dtypes(include='object')

for column in obj_cols.columns:
    df[column] = df[column].replace(',', '.', regex=True)
    df[column] = df[column].astype(float)

In [60]:
df.head()

   Latitude  Longitude  Depth  Magnitude
0    19.246    145.616  131.6        6.0
1     1.863    127.352   80.0        5.8
2   -20.579   -173.972   20.0        6.2
3   -59.076    -23.557   15.0        5.8
4    11.938    126.427   15.0        5.8

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23232 entries, 0 to 23231
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Latitude   23232 non-null  float64
 1   Longitude  23232 non-null  float64
 2   Depth      23232 non-null  float64
 3   Magnitude  23232 non-null  float64
dtypes: float64(4)
memory usage: 726.1 KB

In [62]:
X = df.drop('Magnitude', axis=1)
Y = df['Magnitude']

In [63]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2, random_state= 42)

In [64]:
model = LinearRegression()

model.fit(x_train, y_train)
y_pred = model.predict(x_test)

rmse = np.sqrt(mean_squared_error(y_test, y_pred))
print(f"RMSE değeri: {rmse}")

RMSE değeri: 0.4222388798355116